.deleteTaskContainer {
  position: absolute;
  padding: 20px;
  width: max-content;
  justify-content: space-between;
  height: max-content;
  background-color: antiquewhite;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;
}
.gap {
  gap: 50px;
}
.gap10 {
  gap: 15px;
}
